<canvas id="myCanvas" width="960" height="540" style="background-color: #008000;">
</canvas>
<!--
<p>Left Superior Rectus: {{lsr}}</p>
<p>Left Inferior Rectus: {{lir}}</p>
<p>Left Lateral Rectus: {{llr}}</p>
<p>Left Medial Rectus: {{lmr}}</p>
<p>Left Superior Oblique: {{lso}}</p>
<p>Left Inferior Oblique: {{lio}}</p>

<p>Right Superior Rectus: {{rsr}}</p>
<p>Right Inferior Rectus: {{rir}}</p>
<p>Right Lateral Rectus: {{rlr}}</p>
<p>Right Medial Rectus: {{rmr}}</p>
<p>Right Superior Oblique: {{rso}}</p>
<p>Right Inferior Oblique: {{rio}}</p>
-->
<script src="/javascripts/eyes.js"></script>